{% extends 'task/base.html' %}
{% block content %}
<div class="container">
    <div class="app-div">
        <div class="card p-5">

            <p>Are you sure you want to Delete {{ task.name }}?</p>
            <form method="POST">
                {{ form.name }}

                <input type="submit" value="Delete" class="btn btn-danger">
                <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}