{% extends 'task/base.html' %}
{% block content %}
<div class="container">
    <div class="app-div">
        <div class="card">

            <h4>Are you sure you want to Delete {{ task.name }}?</h4>

            <form method="POST">
                {{ form.name }}

                <input type="submit" value="Delete" class="btn-sm btn-danger">
                {% csrf_token %}
            </form>
            <br>
            <a href="{% url 'home' %}" class="btn-sm btn-primary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}