{% extends 'task/base.html' %}
{% block content %}
<div class="container">

    <div class="app-div">
        <div class="card p-3">
            <h5>Edit {{ task.name }}</h5>
            <form method="POST">
                {{ form.name }}
                {{ form.person }}
                Important: {{ form.important }}
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="{% url 'home' %}" class="btn btn-success">Cancel</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

