.bold-text{
    font-size:4em;
    font-weight:700;
    text-transform:uppercase;
}
.app-div{
    padding: 4rem;
    max-width:60%;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    background:#E0F7FA;
}
.half-width {
    width:50%;
}

.list-item{
    line-height:2em;

}

.center-div{
    background:#CCFF90;
    padding:1em;
    border-radius:5px;

}